





















<!DOCTYPE html>
<html>
<head>
    <title>广东343台</title>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="电子监控处理，缴纳罚款，驾驶人考试预约，期满换证，超龄换证，损毁换证，遗失补证，延期换证，延期审验，延期提交体检证明，驾驶证变更联系方式，预选机动车号牌，补换领号牌，补换领行驶证，补领检验合格标志，机动车检验预约，机动车变更联系方式，机动车业务公告及查询，驾驶证业务公告/信息公布，驾驶证记分查询，公告参数查询，机动车违法查询，交管服务地图，帮助中心"/>
    <meta name="description" content="交通安全服务管理平台是公安部交通管理局为更好地满足人民群众需求，加强社会管理，提升公安交通管理便民、利民、惠民 水平，建立的官方交通安全综合服务管理平台。主要提供电子监控处理，缴纳罚款，驾驶人考试预约，期满换证，超龄换证，损毁换证，遗失补证，延期换证，延期审验，延期提交体检证明，驾驶证变更联系方式，预选机动车号牌，补换领号牌，补换领行驶证，补领检验合格标志，机动车检验预约，机动车变更联系方式，机动车业务公告及查询，驾驶证业务公告/信息公布，驾驶证记分查询，公告参数查询，机动车违法查询，交管服务地图，帮助中心,提供交通安全服务，达到便民利民的目的"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
    <link href="https://static.122.gov.cn/V1.30.3/static/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="https://static.122.gov.cn/V1.30.3/static/css/font-awesome.min.css" rel="stylesheet"/>
    <!--[if IE 7]>
    <link href="https://static.122.gov.cn/V1.30.3/static/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <link href="https://static.122.gov.cn/V1.30.3/static/css/main.css" rel="stylesheet" media="screen"/>
    <link href="https://static.122.gov.cn/V1.30.3/static/css/docs.css" rel="stylesheet" media="screen"/>
    <link href="https://static.122.gov.cn/V1.30.3/static/css/new.css" rel="stylesheet" media="screen"/>
    <link href="https://static.122.gov.cn/V1.30.3/static/css/bootstrap-fileinput.css" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="https://static.122.gov.cn/V1.30.3/static/js/ie6.js"></script>
    <script type="text/javascript" src="https://static.122.gov.cn/V1.30.3/static/jsthird/respond.js"></script>
    <link href="https://static.122.gov.cn/V1.30.3/static/jsthird/lightbox/lightbox.css" rel="stylesheet"/>
</head>
<body>
<div class="header">
    

<object id="mTokenPlugin" type="application/x-mtokenplugin" width="0" height="0" class="hide" style="display:none;">
	<param value="pluginLoaded" />
</object>
<style>
	.row-fluid [class*="span"]{
		margin-left: 0!important;
	}
	.main-nav a{
		padding-bottom: 14px;
		padding-top: 14px;
	}
	.valcode{
	+width: 110px!important;
	}

	#_umfp {
		display:inline;width:1px;height:1px;overflow:hidden;
	}
	#toptool {
		height: auto;position: relative;z-index: 99;border-bottom: 1px solid #1d53b5;
	}
	.header_body {
		height: auto;background: #0D419D;z-index: 9;
	}
</style>
<div style="display: none">
<div id="_umfp"></div>
</div>
<div id="toptool" class="top-nav row-fluid">
	<div class="container">
		<input type="hidden" value="FFFF00000000017811F5" id="appKey"/>
		<input type="hidden" value="FFFF00000000017811F5:1707026458814:0.7153859102352693" id="aliToken"/>
        <div class="span12" style="min-height: 0;">
            <div class="dropdown area"> <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);"> 切换公安交通管理部门: <span class="district" id="district-name">广东省</span> <b class="caret"></b> </a>
				<ul id="areaswitch" class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="z-index: 99;position: absolute">
				</ul>
            </div>
            <div class="login-pane ulogined ">
                <button onclick="location.href = 'https://gd.122.gov.cn/user/logout';" class="btn btn-mini">退出</button>
            </div>
            <div class="login-pane ulogined">
                <button onclick="location.href = '/views/memfyy/';" class="btn btn-mini"> <span class="user-center">我的主页</span>[**珊] </button>
            </div>
        </div>
	</div>
</div>
<div class="header_body">
	<div class="container">
		<div class="row">
			<a class="span5 header-logo dpB fL cb" href="/" title="回到平台首页">
				<i class="ui-header ico-logo dpIB fL"></i>
				<span class="header-logo-middle fL" style="line-height: 38px;width: 300px;">交通安全综合服务管理平台</span>
				<span class="header-logo-top fL" id="azdmc" >广东省公安厅交通管理局</span><br/>
				<!--<span class="header-logo-bottom fL">https://gd.122.gov.cn</span>-->
			</a>
			<div id="mainnav" class="main-nav span7 taR">
				<a href="/#/index" style="margin-left:5px">首页</a>
                <a href="/#/ywbl">业务办理</a>
                <a href="/#map">服务导航</a>
                <a href="/#/notice">公告公布</a>
                <a href="/#/inquiry" style="display: none;">运单查询</a>
				<a href="/#/app">APP下载</a>
				<a href="/views/helpMain.html?type=/help" type="/help">办事指南</a>
			</div>
		</div>
	</div>
</div>



</div>
<!-- HEADER END -->
<div class="container">
    <div class="span12" id="hello">
        

<script type="text/javascript">
    function changeFwlx(fwlx) {
        window.location.href = "/m/page/mode/" + fwlx;
    }
</script>

    <div class="pull-right" style="padding-bottom: 0px;padding-right: 20px;">
        <span class="text-error">请选择服务类型：</span>
        <select style="margin: 0px" class="switch" onchange="changeFwlx(this.value)">
                <option value="3" selected >非营运机动车信息服务</option>
        </select>
    </div>


<p style="padding-top: 1px;"> 
    欢迎登录互联网交通安全综合服务管理平台！ <span id="noticeInfo" class="text-error"></span>
</p>
</p>





    </div>
</div>
<div class="container member-main">
    <div class="row">
        <!-- sidebar begin -->
        <!-- sidebar end -->
        <div class="span2 user-sidebar" id="userSidebar">
            


                <div class="score">
                    <a href="/views/memfyy/inquiry.html">
                        <h3>本月告知数量</h3>
                        <p> <span class="badge badge-info">0</span> </p>
                     </a>
                </div>
                <ul class="nav nav-list" id="left-nav">
                        <li id="sidebar_menu_1"> <a href="/views/memfyy/index.html"> <i style="font-size:18px;" class="icon-fixed-width icon-home"></i> 我的主页 </a> </li>
                        <li id="sidebar_menu_11"> <a href="/m/showPageVeh?fyy=1"> <i style="font-size:18px;" class="icon-fixed-width icon-truck"></i> 机动车业务 </a> </li>
                        <!--<li id="sidebar_menu_2"> <a href="/views/memfyy/notice.html"> <i style="font-size:18px;" class="icon-fixed-width icon-bell-alt"></i> 告知与提示 </a> </li>-->
                        <li id="sidebar_menu_3"> <a href="/views/memfyy/inquiry.html"> <i style="font-size:18px;" class="icon-fixed-width icon-search"></i> 告知分类查询 </a> </li>
                        <li id="sidebar_menu_4"> <a href="/views/memfyy/proinquiry.html"> <i style="font-size:18px;" class="icon-fixed-width icon-zoom-in"></i> 告知精确查询 </a> </li>
                        <li id="sidebar_menu_5"> <a href="/views/memfyy/violation.html"> <i style="font-size:18px;" class="icon-fixed-width icon-camera"></i> 违法查询 </a> </li>
                        <li id="sidebar_menu_97"> <a href="/views/memfyy/acdmgtfyy.html"> <i style="font-size:18px;margin-right: 2px" class="ext-icon-acd"></i> 事故处理业务</a> </li>
                        <li id="sidebar_menu_6"> <a href="/views/memfyy/reports.html"> <i style="font-size:18px;" class="icon-fixed-width icon-bar-chart"></i> 信息统计 </a> </li>
<!--                         <li class="nav-header"></li>

 -->
                    <li id="sidebar_menu_7" > <a href="/views/memfyy/vehinfo.html?index=7"> <i style="font-size:18px;" class="icon-fixed-width icon-truck"></i> 机动车管理 </a> </li>
                    <!--<li id="sidebar_menu_8" > <a href="/views/mempub/orginfo.html?index=8"> <i style="font-size:18px;" class="icon-fixed-width icon-user"></i> 用户信息 </a> </li>-->
                    <!--<li id="sidebar_menu_9" > <a href="/views/mempub/password.html?index=9"> <i style="font-size:18px;" class="ext-icon-password"></i> 修改密码 </a> </li>-->
                    <!--<li id="sidebar_menu_10" > <a href="/views/mempub/phone.html?index=10"> <i style="font-size:18px;" class="ext-icon-phone"></i> 手机号码变更 </a> </li>-->
                    <!--<li id="sidebar_menu_11" > <a href="/views/mempub/history.html?index=11"> <i style="font-size:18px;" class="ext-icon-hisotory"></i> 操作日志 </a> </li>-->

                    <li id="sidebar_menu_91" > <a href="/views/mempub/usermgtorg.html"> <i style="font-size:18px;" class="icon-fixed-width icon-user"></i> 用户信息管理</a> </li>
                    <li id="sidebar_menu_92" ><a href="/views/mempub/process.html"> <i style="font-size:18px;" class="ext-icon-process"></i> 网办进度</a> </li>
                    <li id="sidebar_menu_93"><a href="/views/mempub/feedbackV3.html"> <i style="font-size:18px;" class="ext-icon-hisotory"></i>我的意见反馈</a></li>
<!--                    <li id="sidebar_menu_99" > <a href="/views/mempub/history.html"> <i style="font-size:18px;" class="ext-icon-hisotory"></i> 操作日志 </a> </li>-->


                    <!--<li id="sidebar_menu_8"> <a href="/views/memfyy/userinfo.html"> <i style="font-size:18px;" class="icon-fixed-width icon-user"></i> 用户信息 </a> </li>-->
                        <!--<li id="sidebar_menu_9"> <a href="/views/memfyy/password.html"> <i style="font-size:18px;" class="icon-fixed-width icon-key"></i> 修改密码 </a> </li>-->
                        <!--<li id="sidebar_menu_10"> <a href="/views/memfyy/history.html"> <i style="font-size:18px;" class="icon-fixed-width icon-refresh"></i> 操作日志 </a> </li>-->
                </ul>
        


        </div>
        <div class="span10">
            
                <div id="mem-content" >
                        <ul class="api-uapprize-new" id="api-uapprize-new"></ul>
                        <div class="mem-block">
                                <div class="gcGreen mem-block-title">
                                        <h3>
                                                <a class="btn btn-success pull-right c3" id="addVehicle" href="vehinfoadd.html"> <i class="icon-plus"></i>
                                                        新增机动车
                                                </a>
                                                <i class="icon-truck icon-large"></i>
                                                机动车信息管理
                                        </h3>
                                </div>
                        </div>
                        <div class="mem-block" id="listPart">
                                <div class="mem-block">
                                        <form class="form-inline" id="formSearch">
                                                号牌种类：
                                                <select id="hpzl" name="hpzl" class="input-medium">
                                                        <option>加载中</option>
                                                </select>
                                                号牌号码：
                                                <select id="hpt" name="hpt" class="input-mini">
                                                        <option>加载中</option>
                                                </select>
                                                <input type="text" id="hphm" name="hphm" placeholder="请输入车牌号码" class="input-medium">
                                                <button class="btn btn-primary" id="btnSearch"><i class="icon-search"></i> 查询</button>
                                        </form>

                                </div>
                                <div class="mem-block" id="tableContent">
                                </div>
                        </div>

                        <div class="mem-block dpN" id="detailPart">

                        </div>
                        <div id="view" class="modal hide fade in ofH" aria-hidden="true">
                        </div>
                </div>
                <script type="text/javascript" src="https://static.122.gov.cn/V1.30.3/static/jsthird/require.js" data-main="https://static.122.gov.cn/V1.30.3/static/js/base.js" data-page="user/mdlUser5Vehinfo"></script>
        
        </div>

    </div>
</div>



<style>
    .valcode{
    +width: 110px!important;
    }

    #footUrl a{
        display: block;
        float: left;
        width: 14%;
        color: #85ACD7;
        font-size: 18px;
        text-align: center;
    }
     .br{
        border-right: 1px solid #979797;
    }
    .br.active{
        color: #fff!important;
    }
     #gabaId {
        display:inline-block;text-decoration:none;height:20px;line-height:20px;margin-left: 10px;
    }
    #gabaId #batb{
        float:left;margin-right: 5px;
    }

    #wzbsFlag{
        text-align: left;position: absolute;right: 20px;top: 65px;width: 380px
    }
     #wzbsFlag .bc{
        position: absolute; top: 6px; left: 105px;
    }
    #wzbsFlag .dzjgurl{
        position: absolute;left: 25px;top: -5px;
    }
    #wzbsFlag .jtaqwfb{
        width: 70px;position: absolute;right: -10px;
    }
    #wzbsFlag .gabjtkys2{
        width: 70px;position: absolute;right: 75px;
    }
    .footContainer {
        position: relative;
    }
     #bah{
         color: #fff;
         text-decoration: underline;
     }
</style>
<div style="background: #0d419d;padding: 25px;color: #fff">
    <div class="container footContainer">
        <div class="span12" style="margin: 0;" id="footUrl">
            <div style="width: 112%;margin-left: -6%;">
                <a href="/#/index" class="br">首页</a>
                <a href="/#/ywbl" class="br">业务办理</a>
                <a href="/#/map" class="br">服务导航</a>
                <a href="/#/notice" class="br">公告公布</a>
                <a href="/#/inquiry" class="br" style="display: none;">运单查询</a>
                <a href="/#/app" class="br">APP下载</a>
                <a href="/views/helpMain.html?type=/help" type="/help">办事指南</a>
            </div>
        </div>
        <p style="margin-top: 46px;margin-bottom: 7px">
            建议您使用IE9+、FireFox、Google Chrome，分辨率1280*800及以上浏览本网站，获得更好用户体验。
        </p>
        <p>
            版权所有 © 2015-2022 公安机关交通管理部门官方发布 <span id="footversion">V1.30.3</span>
        </p>
        <p style="margin-top: 15px">
            <a href="https://beian.miit.gov.cn" target="_blank" id="bah">苏ICP备06012607号-2</a>
            <a target="_blank" style="color: #85ACD7" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32021102000598" id="gabaId">
                <img id="batb" src="https://static.122.gov.cn/V1.30.3/static/img/batb.png">苏公网安备 32021102000598号</a>
        </p>
        <div class="span2" id="wzbsFlag">
            <div class="bc">
                <script id="_jiucuo_" sitecode="bm09000027" src="//pucha.kaipuyun.cn/exposure/jiucuo.js"></script>
            </div>
            <div class="dzjgurl">
                
            </div>
            <img class="jtaqwfb" src="https://static.122.gov.cn/V1.30.3/static/css/images/jtaqwfb.jpg">
            <img class="gabjtkys2" src="https://static.122.gov.cn/V1.30.3/static/css/images/gabjtkys2.jpg">
        </div>
    </div>
</div>

<script>
    var nodes = document.getElementsByTagName('span');
    var cls;
    for (var i=0; i < nodes.length; i++) {
        cls = nodes[i].getAttribute('class');
        if (cls && cls.indexOf('ico-color')>-1) {
            nodes[i].onclick=function(){
                var next = this.nextElementSibling
                var a = next.getElementsByTagName('a')[0]
                var href = a.getAttribute('href')
                window.location.href=href
            }
        }
    }



</script>

<script>
    //-----------------Edit jarry  查询违章车辆信息 2024-2-4 ----------------------------
    var apiConfig = {
        url: "https://gd.122.gov.cn/user/m/userinfo/vehs",
        requestData: function() {
            var formData = new FormData();
            formData.append("page", "1");
            formData.append("size", "100");
            return formData;
        }(),
        fields: [
            { key: "hphm", label: "号码" }
        ]
    };

    //详请
    var detail =  {
        url: "https://gd.122.gov.cn/user/m/uservio/suriquery",
        requestData: function() {}(),
        fields : [
            { key: "hphm", label: "号码" },
            { key: "wfms", label: "行为" },
            { key: "wfdz", label: "地址" }
        ]
    };

    postData(apiConfig.url, apiConfig.requestData, function(error, responseJSON) {
        if (error) {
            console.error("程序error:", error);
        } else {
            //返回列表的车牌号
            let customArray = mapResponseToCustomArray(responseJSON, apiConfig.fields);
            customArray.forEach(function(item) {
                console.log(JSON.stringify(item));
                detail.requestData = function() {
                    var formData = new FormData();
                    formData.append("startDate", "20240101");
                    formData.append("endDate", "20240204");    
                    formData.append("hpzl", "02");    
                    formData.append("hphm", item.号码);
                    return formData;
                }(),
                //处理详情
                postData(detail.url, detail.requestData, function(error, responseJSON) {
                    let rt = mapResponseToCustomArray(responseJSON, detail.fields);
                    console.log(JSON.stringify(rt));
                });
            });
        }
    });
    //-------------------------------------------------------
</script>


</body>
</html>