#data {
    width: 900px;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
}

input {
    width: 1500px;
}

textarea {
    width: 1500px;
    height: 100px;
}

.success-message {
    padding: 10px;
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}