<!-- http://127.0.0.1:3000/content_newslist_bak.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb232" />
<title></title>
<link rel="stylesheet" href="http://win7.qy/vhost/skin1/jscss/js.do.css" />
<link rel="stylesheet" href="http://win7.qy/vhost/skin1/jscss/BIZ_MS.css" />
<script type="text/javascript" src="http://js.jrjimg.cn/lib/jquery-1.7.min.js"></script>
<base target="_blank"/>
</head>
<body>
<style type="text/css">    
.item { break-inside: avoid; box-sizing: border-box; padding: 3px; border:solid 0px rgb(180, 177, 179);margin: 1px;}
.title a{ color: rgb(58, 23, 166); font-size: 15px; }
#tbs {  text-align: left;}
.right512 { text-align: right; float: right; }
/*a:visited {  color: darkgray; }*/
.grey {  }
.nowidth2 {  width: 290px !important;}
.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
    line-height: 20px;
   /* height: 87px;*/
    width: 900px;
    margin-bottom: 10px;
    text-align:left;
}
.scro {
    width:32%;
    height:350px;
    overflow-y:auto;
    overflow-x:auto;
	border:1px solid #999393;
    padding-left: 10px;
    text-align: left;  
    margin: 0px 3px 3px 3px;
    flex-wrap: wrap; 
    display: inline-block;
}
</style>
<div class="boxbfb MostOne" id="tab_sw">
       
        <!-- 板块股 star -->
        <div class="tab-inner" id="tab03" style="display:block;">
            <div id="tbs">			
            
			</div>
        </div>
        <!-- 板块股 end  -->
</div>
<script type="text/javascript" src="http://win7.qy/vhost/skin1/jscss/lib.js"></script>
<script language="JavaScript"> 
    /******************************* 文档载入 ************************************/
    String.prototype.format = function() {
        var formatted = this;
        for( var arg in arguments ) {
            formatted = formatted.replace("{" + arg + "}", arguments[arg]);
        }
        return formatted;
    };
    $(document).ready(function(){                           
        setHoverDelay();                    //tab菜单悬停延迟
        get_allSite();   
        setInterval(function(){ 
            $("#tbs").html('');
            get_allSite(); 
        }, 600000);        
    });
    /******************************* tab菜单悬停延迟 ************************************/ 
    function setHoverDelay()
    {
        var trigger = null;
        var $li = $('#tab_sw div ul li');
        $($li. eq(0) .addClass('cur').find('a').attr('ref')).siblings('.tab-inner').hide();
        $li.hover(function(){
                var _this = $(this);  
                trigger = setTimeout(function(){
                    $($(_this).find('a').attr('ref')).show().siblings ('.tab-inner').hide();
                    $(_this).addClass('cur').siblings ('.cur').removeClass('cur');                    
                },20)                        
            },
            function(){clearTimeout(trigger); }
        );
    }
    var html_ = '';

    //站点分类：aa.com/ bbb.com/ ccc.com
    function get_allSite()
    {
    	var site = "/get_site";
   		var rt=$.getJSON(site, function(rt){     
            $.each(rt, function(i, item) {    
                console.log(rt[i].site)
            	get_list(rt[i].site,'OneSite');
            });  
        });      
    } 
    function submit_del(obj,ids)
    {   
        $(obj).hide();
    	var url = "Nodenews_api.php?act=del&v2=" + ids; //站点集合
   	    var rt=$.get(url, function(result){  
            // $(obj).children('a').removeClass("visit"); // 追加样式 
            
        })
    }
    function mark_del(id)
    {
        rt = "onclick='submit_del("+ id +")'   ";
        return rt;
    }
    function get_list(_site,rang='all')
    {        	
        // var range = "all"; 
    	var html = '<div class="scro"><h1>'+ _site +'</h1><ul>';
        var api = "get_list?site="+_site;
        var rt=$.getJSON(api, function(arr){     
            $.each(arr, function(i, item) {  
                rt = itemToHtml(arr[i]);
                console.log(rt)
               	html = html + rt; 
            });  
            html = html +  "</ul></div>"
        });      
        rt.complete(function(){ 
           $("#tbs").append(html);
        });      
    }
    function getLocalTime(nS) {     
        return new Date(parseInt(nS) * 1000).toLocaleString();//.replace(/:\d{1,2}$/,' ');     
    }
    function itemToHtml(obj)
    {
        console.log(obj)
        // var __id = obj["_id"]["$id"];
        // var mkd = mark_del(obj["_id"]["$id"]);
        // var dt = getLocalTime(obj["dt"]["sec"])
        // dt = dt.format("yyyy-MM-dd hh:mm")
        // var title = obj["name"].substring(0,28)
        // var s = `<li class='title><img scr='del.png' width='15' height='15' onclick="submit_del(this,'${__id}')" /><a _id='${__id}' href='${obj["href"]}' title='${obj["name"]}' target='_blank'>${title}</a><span class='right512'>${dt}</span></li>`


        var dt = obj.AddTime.substr(0,10)
        var s = `<li class='title><img scr='del.png' width='15' height='15' onclick="submit_del(this,'${obj.site}')" /><a href='${obj.url}' title='${obj.title}' target='_blank'>${obj.title}</a><span class='right512'>${dt}</span></li>`
        // console.log(s)
        return s;
    }

</script>
</body>
</html>    