@charset "utf-8";
/* 全局css */
body {
        background:rgb(236, 235, 235);
        background-p_w_upload:fixed;
        background-p_w_picpath:none;
        background-position:center center;
        background-repeat:no-repeat;
        color:#111111;
        font-size:12px;
        margin:0 auto;
        padding:0;
        text-align:left;
}
/* 重置 */
div, form, p, i, img, ul, li, ol, dl, dt, dd, table, tr, td, th, fieldset, label, legend, select, button, input {
        margin:0;
        padding:0;
}
/* 标题样式 */
h1, h2, h3, h4, h5, h6 {
        margin:0;
        padding:0;
        font-size:12px;
        font-weight:normal
}
/* 列表样式 */
ul, ol, li, dl, dt, dd {
        list-style:none;
}
/* 图片样式 */
img, a img {
        border:0px;
        padding:0px;
        margin:0px;
        vertical-align:middle
}
/* 链接样式 */
a:link {
        color:#0d0d0e;
        text-decoration:none;
}
a:visited {
        color:#c1c2c4;
        text-decoration:none;
}
a:hover {
        color: #FF6600;
        text-decoration:underline;
}
a:active {
        color:#0b2a78;
        text-decoration:none;
}
/** 图片链接效果 **/
.pic a {
        padding:4px;
        border:1px solid #e6e7e7;
        display:inline-block;
}
.pic a:hover {
         border:1px solid #000;
        background:#fff;
        display:inline-block;
}
/**字体颜色**/
.fontred{
        color:#f00;
}
.fontgray{
        color:#999;
}
.fontblack{
        color:#000;
}
/**输入框颜色样式**/
.input-gray{
        color:#999;
}
.input-black{
        color:#000;
}
.clear {
        clear:both;
        /*控制分类后，各行高度不一样对不齐问题*/
        width:100%;
        height:0px;
        font-size:0;
        overflow:hidden;
        /*控制分类后，各行高度不一样对不齐问题*/
        line-height:0;
}

/*******************************个性化开始******************************/
.list .item {
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
    max-width: 50%;
    min-height: 150px;
    border: 1px solid #ccc;
}

/*居中对齐*/

.vc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 a[href^="http://"]{
    color: blue;
 }
 /* 不同a标签链接使用不同样式 */
 a[href^="mailto:"]{
    color: red;
 }
 a[href$=".pdf"]{
    color:pink;
 }
 /* 图像灰度 */
 img {
    filter: gray; 
    -webkit-filter: grayscale(1);
 }
 /* 背景动画渐变 */
 .bg {
    background-image: linear-gradient(#5187c4, #1c2f45);
    background-size: auto 200%;
    background-position: 0 100%;
    transition: background-position 0.5s;
 }    
 bg:hover {
    background-position: 0 0;
 }
 /* 长文本自动换行 */
 .pre {
    white-space: pre-line;
    word-wrap: break-word;
 }

 /* 模糊文本 */
 .vagueText {
    filter: blur(1px);
 }

 /* 用CSS动画实现省略号动画 */
 .point:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 2s infinite;
    content: "\2026";
 }
 @keyframes ellipsis {
    from {
          width: 2px;
    }
    to {
          width: 15px;
    }
 }
 /* 元素透明 */
 .opacity {
    filter: alpha(opacity=50); 
    -khtml-opacity: 0.5; 
    -moz-opacity: 0.5;   
    opacity: 0.5;     
 }
 /* 图片边框偏光 */
 .polaroid {
    background:#000; 
    border:solid #fff;
    border-width:6px 6px 20px 6px;
    box-shadow:1px 1px 5px #333; 
    -webkit-box-shadow:1px 1px 5px #333;
    -moz-box-shadow:1px 1px 5px #333;
    height:200px; 
    width:200px;  
 }

 /* CSS3渐变模板 */
 .tep {
    background-image: linear-gradient( #83b842, #1c8a9f);
 }
 /* 外盒阴影 */
 .outbox { 
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
 }
 /* CSS3列文本 */
 .columnsText {
    text-align: justify;
    -webkit-column-count: 3;
    -webkit-column-gap: 12px;
    -webkit-column-rule: 1px solid #c4c8cc;
 }

 input[type=text] {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
 }
 /* input输入效果 */
 input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
 }
 /* 限制单行文本超出显示省略号 */
 .textEllipsis{
    /* width: 200px; */
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
 }
 /* 自适应文本框自动换行，限宽不限高 */
 .lineText{
    display: inline-block;
    min-height: 15px;
    max-width: 78%;
    padding: 12px 10px;
    text-align: left;
    font-family: Microsoft YaHei;
    word-wrap: break-word;
 }
